<div class="container mt-4">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Periodo</th>
                <th scope="col">Ammontare</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">1</th>
                <td>27/02/2024</td>
                <td>4900.00€</td>
                <td>Pagamento</td>
            </tr>
            @* da popolare *@
        </tbody>
    </table>
</div>